/* Estilo básico de botão */
.grid-btn{
    max-width: 290px;
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex; /* Flexbox para alinhar os itens */
    gap: 8%; /* Espaço entre os botões */
    justify-content: center; /* Centraliza os botões */
    align-items: center;   /* Alinha os itens no eixo vertical */
}

.btn-home{
    width: 100%;
    height: 100%;
    display: flex;         /* Flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os botões */
    align-items: center;   /* Alinha os itens no eixo vertical */
    flex-direction: column;
    gap: 10px;
    background-color: #5968e6; /* Cor do botão */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-check{
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
}